<table color="primary" mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="departments">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Action -->

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>

    </th>
    <td mat-cell *matCellDef="let element">

      <button mat-icon-button color="primary" (click)="openDialog(element)">
        <mat-icon>quick_contacts_dialer</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteDialog(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>


      <app-search-box [param]="employeeParam" (clearEvent)="clearSerach($event)" [elementName]="'name'"
        (searchEvent)="searchBox($event)" [label]="'الأسم'" [placeHolder]="'EX. محمد على شريف'">
      </app-search-box>
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.name}}

    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tabCode">
    <th mat-header-cell *matHeaderCellDef>


      <app-search-box [param]="employeeParam" (clearEvent)="clearSerach($event)" [elementName]="'tabCode'"
        [label]="'كود طب'" [placeHolder]="'EX. 2309'" (searchEvent)="searchBox($event)">
      </app-search-box>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.tabCode}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="tegaraCode">
    <th mat-header-cell *matHeaderCellDef>
      <app-search-box [param]="employeeParam" (clearEvent)="clearSerach($event)" [elementName]="'tegaraCode'"
        [label]="'كود تجارة'" [placeHolder]="'EX. 9201'" (searchEvent)="searchBox($event)">
      </app-search-box>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.tegaraCode}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef>

      <!-- <mat-form-field appearance="fill">
        <input type="text" placeholder="أختار قسم ...." aria-label="Number" matInput [matAutocomplete]="auto"
          #searchDepartmentInput>
        <button color="primary" *ngIf="employeeParam.departmentId" matSuffix mat-icon-button aria-label="Clear"
          (click)="clearSearch2()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWithFun.bind(this)"
          (optionSelected)="autocompleteSelectionChange($event)">
          <mat-option *ngFor="let dep of filterdDepartments " [value]="dep.id">
            {{dep.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->
      <app-search-autocomplete *ngIf="departments" [options]="departments"
        (onSelectOption)="autocompleteSelectionChange($event)" (onClear)="clearSearch2()"></app-search-autocomplete>

    </th>
    <td mat-cell *matCellDef="let element">


      {{getDepartmentById( element?.departmentId)}}


    </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="nationalId">
    <th mat-header-cell *matHeaderCellDef>
      <app-search-box [param]="employeeParam" (clearEvent)="clearSerach($event)" [elementName]="'nationalId'"
        [label]="'الرقم القومى'" [placeHolder]="'EX. 28505190201376'" (searchEvent)="searchBox($event)">
      </app-search-box>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.nationalId}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
  <tr mat-row [@rowsAnimation]="" *matRowDef="let row; columns: displayedColumns;"></tr>


</table>

<mat-paginator class="mat-paginator-sticky" [length]="count" [pageSize]="employeeParam.pageSize"
  [pageSizeOptions]="[ 10,15, 25,50]" aria-label="Select page">
</mat-paginator>
