table {
  width: 100%;
  max-height: 90vh;

  tr {
    transition: .6s ease-in-out;
  }
}

.dialog {
  .mat-dialog-container {
    padding: 0;
    background-color: red;
  }
}

.mat-option {
  text-align: right !important;
}

.mat-header-cell {
  text-align: center !important;
}

.mat-cell {
  //  padding: 10px;
  text-align: center !important;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
