<mat-form-field appearance="fill">
  <input type="text" placeholder="أختار قسم ...." aria-label="Number" matInput [matAutocomplete]="auto" #element>
  <button *ngIf="this.close" color="primary" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWithFun.bind(this)"
    (optionSelected)="autocompleteSelectionChange($event)">
    <mat-option *ngFor="let  option of filterdOptions " [value]="option.id">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
