<mat-card class="card-container">
  <mat-card class="card" routerLink="/upload-employees">
    <div class="title">
      <mat-label>رفع بيانات الموظفين</mat-label>
    </div>
    <div class="icon">
      <mat-icon color="primary">people</mat-icon>
    </div>
  </mat-card>
  <mat-card class="card" routerLink="/phone-upload-employees">
    <div class="title">
      <mat-label>رفع ارقام تليفون </mat-label>
    </div>
    <div class="icon">

      <mat-icon color="primary">phone</mat-icon>
    </div>
  </mat-card>
  <mat-card class="card" routerLink="/employee-list">
    <div class="title">
      <mat-label>الموظفين</mat-label>
    </div>
    <div class="icon">
      <mat-icon color="primary">people_outline</mat-icon>
    </div>
  </mat-card>

</mat-card>
<div class="spacer"></div>
