.btn-close {
  position: relative;
  top: -20px;
}

.title {
  padding: 10px;
  font-size: 16px;
  font-family: Cairo;
  width: 160px;

}

.mat-form-field {
  width: 100%;
  //position: relative;
  // top: 20px;
}

.dialog-container {
  display: flex;
  justify-content: center;
  position: relative;
  // top: -20px;

}

.dialog-control {
  display: flex;
  justify-content: flex-start;

}
